.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 2px;
}

.sidebar-link div {
  font-size: 10px;
}

@media screen and (max-width: 450px) {
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(246, 245, 245);
    bottom: 0;
    top: auto;
    padding: 5px;
    width: 100vh;
    right: 0;
    left: 0;
    height: 60px;
    
    position: fixed;
    border-top: 1px solid rgb(216, 211, 211);
    
    overflow: hidden;
  }
  body{
    padding: 20px;
    
  }
  .sidebar-link img {
    width: 20px;
    margin-bottom: 2px;
  }
  .sidebar-link div {
    font-size: 0px;
  }
  .sidebar-link{
    margin: auto auto;
    margin-bottom: px;
  }
  
  
  
 
}
